html,

body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(80, 255, 179);
    color: rgb(235, 230, 255);
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.frame-outer {
    background-color: rgb(100, 100, 255);
    padding: 10px;
    border-radius: 10px;

}

.frame-content {
    background-color:  rgb(80, 255, 179);
    border: 5px solid rgb(235, 230, 255);
    color: rgb(235, 230, 255);
    border-radius: 10px;
    font-size: x-large;
    text-align: center;
    line-height: 2;
    padding: 10px;
    margin: 0;
}


